In [66]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [67]:
f = pd.read_csv('data/ex1.csv')
f

   a  b  c message
0  1  2  3   hello
1  4  5  6   world

In [68]:
f1 = pd.read_csv('data/ex1.csv',header=None)

In [69]:
f1

   0  1  2        3
0  a  b  c  message
1  1  2  3    hello
2  4  5  6    world